[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/teamzone
[access "refs/for/refs/*"]
	read = group user/teamzone
	push = group user/teamzone
	label-Code-Review = -2..+2 group user/teamzone
	label-Verified = -1..+1 group user/teamzone
	rebase = group user/teamzone
	removeReviewer = group user/teamzone
	submit = group user/teamzone
[access "refs/heads/*"]
	read = group user/teamzone
	create = group user/teamzone
	push = +force group user/teamzone
	pushMerge = group user/teamzone
[access "refs/tags/*"]
	push = +force group user/teamzone
	pushTag = group user/teamzone
	pushSignedTag = group user/teamzone
