extends layout

block content

  h1 Player Details
  hr  
  div  
    form(method="POST", action="/AddPlayer", id="addPlayerForm")
      .form-group
        label(for='TeamName') Team
        input(type="text", name="TeamName", id="TeamName", placeholder='Team Name', required, data-required-msg='Team Name is required')
      .form-group
        label(for='FirstName') First Name
        input(type="text", name="FirstName", id="FirstName", placeholder='First Name', required, data-required-msg='First Name is required')
      .form-group
        label(for='Surname') Surname
        input(type="text", name="Surname", id="Surname", placeholder='Surname', required, data-required-msg='Surname is required')
      .form-group
        label(for='DOB') Date of Birth
        input(type="date", name="DOB", id="DOB", placeholder='Date of Birth', required, data-required-msg='Date of Birth is required')
      .form-group
        label(for='Address') Address
        input(type="text", name="Address", id="Address", placeholder='Address', required, data-required-msg='Address is required')
      .form-group
        label(for='Suburb') Suburb
        input(type='text', name='Suburb', id='Suburb', placeholder='Suburb', required, data-required-msg='Suburb is required')      
      .form-group
        label(for='PostCode') Postal Code
        input(type="text", name="PostCode", id="PostCode", placeholder='Postal Code', required, data-required-msg='Postal Code is required')
      .form-group
        label(for='Phone') Phone
        input(type="text", name="Phone", id="Phone", placeholder='Phone', required, data-required-msg='Phone is required')
      .form-group
        label(for='Email') Email
        input(type="email", name="Email", id="Email", placeholder='Email', required, data-required-msg='Email is required')
      .form-group
        button#Submit.btn.btn-default(name="Submit") Submit