.navbar.navbar-static-top.navbar-default
  .container
    .navbar-header 
      .navbar-brand Welcome #{user.email}
    .navbar-right
      a.btn.btn-default.navbar-btn#createClub(href="createClub") Create Club
    .navbar-right
      a.btn.btn-default.navbar-btn#manageClub(href="manageClub") Manage Club      
    .navbar-right
      a.btn.btn-default.navbar-btn#logout(href="logout") Log Out