extends layout

block content
    h1 #{title}
      p Welcome to #{title}
        
    p
      | With #{title} you be able to manage the goings on of your teams
      | It very general and you can record stats and MVP votes for players in any sport
      | 
      | We will also support other features as per your requests
    
block sidebar

    