doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css')
    link(rel='stylesheet', href='//cdn.kendostatic.com/2013.3.1119/styles/kendo.bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
body
  header
    nav
      ul
        li 
          a(href="/") Home
        li 
          a(href="/AddPlayer") Add Player   
        li 
          a(href="/PlayerList") Player List                           
        li 
          a(href="/about") About
        li 
          a(href="/contact") Contact
    block login
  .container
    .main-content
      block content
    .sidebar
      block sidebar
  footer
    p © About Agile 2014