doctype html
html
  head
    title Dashboard :: Login
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')    
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')  
  body
    .login.well
      h1  Please log in...
      hr
      form(id='login-form', method='POST', action='#{ "/login" + (query && query.url ? "?url=" + query.url : "") }' novalidate)
        .form-group
          label(for='username') Username
          input(type='text', name='username', class='form-control', 
            id='username', placeholder='Enter username',
            required, data-required-msg='Username is required')
        .form-group
          label(for='password') Password
          input(type='password', name='password', class='form-control', 
            id='password', placeholder='Enter password',
            required, data-required-msg='Password is required')
        .form-group
          button.btn.btn-default(name="Login" id="Login") Login  
          a(href="register") Or Register
        include messages

  script(src='//code.jquery.com/jquery-1.9.1.min.js')
  script(src='//cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js')

  script(type="text/javascript").
    $(function() {
      // validate the login form before submit
      $("#login-form").kendoValidator();
    });

