extends dashboard

block content
  body
    .login.well
      h1  Manage Club
      hr
      form(id='manage-club-form', method='POST', action='/manageClub' novalidate)
        .form-group
          label(for='clubname') Club Name

        include messages

