extends dashboard

block content
  body
    .login.well
      h1  Manage Squad
      hr
      form(id='manage-squad-form', method='POST', action='/manageSquad' novalidate)
        .form-group
          label(for='squadname') Squad Name

        include messages

